nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 30px 50px;
  /*  position: sticky;
  top: 1px;
  background-color: rgba(9, 42, 98,0.1); */
  /* background-color: yellow; */
}

nav > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

nav > ul li {
  display: inline-block;
}

nav > ul li a {
  text-decoration: none;
  color: #f1c9ca;
}

nav > ul li a:hover {
  /* text-decoration: none; */
  color: #f7a67a;
}

nav > ul li a > span {
  color: #f7a67a;
}

#resumeBtn {
  padding: 10px 20px;
  background-color: #092a62;
  color: #f7a67a;
  border: 2px solid #f7a67a;
  border-radius: 10px;
  cursor: pointer;
}

#resumeBtn:hover {
  background-color: rgba(247, 166, 122, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

 .imgLogo {
  width: 50px;
} 

@media screen and (max-width: 600px) {
  nav {
    display: none;
  }
}
