.otherCardmain {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  background-color: 
  #07204b;
  box-shadow: 1px 1px 10px 
  #07204b;
  padding: 20px;
  border-radius: 10px;
}

.otherCardicons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  /* gap: 20px; */
}

.iconsOther {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.otherCardicons > .iconother {
  font-size: 2em;
  color: #f7a67a;
}
.otherCardicons > .iconColor {
  color: #f7a67a !important;
}

.iconsOther .iconother .iconColor {
  font-size: 1.3em;
  color: #d6c7d2;
}

.iconsOther .iconother .iconColor:hover {
  color: #f7a67a;
  transition: all 0.3s ease;
}
.otherContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #d6c7d2;
}

.otherContent > h1 {
  font-weight: lighter;
  color: #f1c9ca;
}

.spansOther {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: #d6c7d2;
}

@media screen and (max-width: 600px) {
  .otherCardmain {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background-color: #1a1336;
    box-shadow: 1px 1px 10px black;
    padding: 20px;
    border-radius: 10px;
  }
}
