.firstContent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  /* min-height: 80vh; */
  /* padding: 50px 300px; */
}

.firstContent > h5 {
  color: #0693e3;
}
.firstContent h1:nth-child(3) {
  color: #0693e3;
  /* height: 10px; */
  line-height: 1.1;
}

.firstContent > h1 {
  font-size: 4em;
  color: white;
  font-size: 4.3em;
}

.firstContent > p {
  width: 60%;
  color: rgb(255, 255, 255, 0.6);
  font-size: 1em;
  margin-top: 10px;
}
.firstContent > button {
  border: 1px solid #0693e3;
  border-radius: 20px;
  margin-top: 40px;
  background-color: #120e26;
  color: #0693e3;
  padding: 10px 30px;
  cursor: pointer;
}

.firstContent > button:hover {
  background-color: rgba(6, 147, 227, 0.3);
  transition: 0.3s ease all;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .firstContent {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    /* min-height: 80vh; */
    /* padding: 50px 300px; */
  }

  .firstContent > h1 {
    color: white;
    font-size: 2.3em;
  }

  .firstContent > p {
    width: 100%;
    color: rgb(255, 255, 255, 0.6);
    font-size: 1em;
    margin-top: 10px;
  }
}
