/* .mainicons {
  padding-left: 20px;
} */

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  gap: 25px;
  width: 5%;
  position: fixed;
  top: 70%;
  list-style: none;
  cursor: pointer;
}

.icon-size {
  font-size: 1.2em;
  color: #f1c9ca;
  transform: translateY(0px);
  transition: transform 1s;
  cursor: pointer;
}

.icon-size:hover {
  color: #f7a67a;
  transform: translateY(-10px);
  transition: transform 0.5s;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .icons {
    display: none;
  }
}
